##
REST_HOST=localhost
REST_PORT=4390
##
REST_DATABASE_URL=127.0.0.1
REST_DATABASE_PORT=27017
REST_DATABASE_NAME=test
REST_DATABASE_USER=test
REST_DATABASE_PWD=test
##
REST_UPLOAD_DIRECTORY=upload-img
REST_STATIC_DIRECTORY=static
##
REST_SALT=The_secret_string
REST_JWT_SECRET=The_secret_phrase
